<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BWServerLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <BWServerLogger.Properties.Settings>
      <setting name="pollRate" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="playedThreshold" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="missionThreshold" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="runTimeThreshold" serializeAs="String">
        <value>14400000</value>
      </setting>
      <setting name="armaServerAddress" serializeAs="String">
        <value>a3.bourbonwarfare.com</value>
      </setting>
      <setting name="armaServerPort" serializeAs="String">
        <value>2303</value>
      </setting>
      <setting name="mySQLServerAddress" serializeAs="String">
        <value>10.0.0.2</value>
      </setting>
      <setting name="mySQLServerPort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="mySQLServerDatabase" serializeAs="String">
        <value>bourbon</value>
      </setting>
      <setting name="mySQLServerUsername" serializeAs="String">
        <value>bourbon</value>
      </setting>
      <setting name="mySQLServerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="key" serializeAs="String">
        <value />
      </setting>
      <setting name="iv" serializeAs="String">
        <value />
      </setting>
      <setting name="retryTimeLimit" serializeAs="String">
        <value>600000</value>
      </setting>
    </BWServerLogger.Properties.Settings>
  </userSettings>
</configuration>